<html>
<head>
    <title>Search</title>
</head>
<body>
    <h1>Search Result</h1>
    <p><%= output[0].stduName %></p>
    <p><%= moment(output[0].bdate).format('DD MM YYYY')  %></p>
    <p><%= output[0].bloodGrp %></p>
    <p><%= output[0].contactNo %></p>
    <p><%= output[0].address %></p>
</body>

</html>