<html>
    <head>
        <title>Summary</title>
        <style>
            th, td {
              border-style:solid;
              border-color: black;
            }
            </style>
    </head>
    <body>
        <h1>Summary Page</h1>
        <table>
            <tr>
              <th>Name</th>
              <th>Birth Date</th>
              <th>Blood Group</th>
              <th>Contact No.</th>
              <th>Address</th>  
            </tr>
            <tr>
              <td><%= student.stduName %></td>
              <td><%= student.bdate %></td>
              <td><%= student.bloodGrp %></td>
              <td><%= student.contactNo %></td>
              <td><%= student.address %></td>
            </tr>

          </table>
    </body>
</html>